<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Clientes</title>
</head>
<body>

  <header>
    <h1>Gerenciador de Projetos</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/index">Página Inicial</a>
      </li>
      <li>
        <a href="/clientes" class="bold">Clientes</a>
      </li>
      <li>
        <a href="/projetos">Projetos</a>
      </li>
      <li>
        <a href="/equipe">Equipe Desenvolvedora</a>
      </li>
      <li>
        <a href="/funcionario/list">Lista</a>
      </li>
      <li>
        <a href="/funcionario/add">Adicionar</a>
      </li>
    </ul>
  </nav>

  <main>
    <h1>Clientes</h1>

    <div class="imgs_clientes">

      <div class="cliente">
        <img src="../img/cliente1.png" alt="Cliente Igor Ribeiro">
        <h2>Igor Ribeiro</h2>
        <p>Cliente interessado em Desenvolvimento WEB</p>
      </div>

      <div class="cliente">
        <img src="../img/cliente2.jfif" alt="Cliente Paulo Battistella">
        <h2>Paulo Battistella</h2>
        <p>Cliente interessado em Desenvolvimento de Aplicativos</p>
      </div>

      <div class="cliente">
        <img src="../img/cliente3.jfif" alt="Cliente Ismael Teixeira">
        <h2>Ismael Teixeira</h2>
        <p>Cliente interessado em Desenvolvimento de Softwares</p>
      </div>
    </div>
  </main>
  
  <footer>
    <ul>
      <p><strong>📈 Desenvolvimento de Sistemas 📈</strong></p> 
      <p>SESI SENAI CTAI</p>
      <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
    </ul>

    <ul>
      <p><strong>🔥 Igor Luiz Belter Rosiak 🔥</strong></p>
      <p>Contato: 48 996449750</p>
      <p>Email: Igorluizbelterrosiak@gmail.com</p>
    </ul>
  </footer>

</body>
</html>