<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Equipe</title>
</head>
<body>

  <header>
    <h2>Gerenciador de Projetos</h2>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/funcionario/list">Página Inicial</a>
      </li>
      <li>
        <a href="/clientes" class="bold">Clientes</a>
      </li>
      <li>
        <a href="/projetos">Projetos</a>
      </li>
      <li>
        <a href="/equipe">Equipe Desenvolvedora</a>
      </li>
    </ul>
  </nav>

    <main>
      <h1>Equipe Desenvolvedora</h1>
      <img src="./img/fotominha.jpg">
    </main>

    <footer>
      <ul>
        <p><strong>Desenvolvimento de Sistemas</strong></p> 
        <p>SESI SENAI CTAI</p>
        <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
      </ul>
  
      <ul>
        <strong>Igor Luiz Belter Rosiak</strong> <br>
        <p>Contato: 48 996449750</p>
        <p>Email: Igorluizbelterrosiak@gmail.com</p>
      </ul>
    </footer>
    
      <script src="./js/popper.min.js"></script>
      <script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>
</html>