<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Funcionário</title>
</head>

<body>

  <header>
    <h1>Gerenciador de Projetos</h1>
  </header>

  <nav>
      <ul>
        <li>
          <a href="/index">Página Inicial</a>
        </li>
        <li>
          <a href="/clientes" class="bold">Clientes</a>
        </li>
        <li>
          <a href="/projeto/list">Projetos</a>
        </li>
        <li>
          <a href="/equipe">Equipe</a>
        </li>
        <li>
          <a href="/funcionario/list">Funcionários</a>
        </li>
      </ul>
  </nav>

  <main class="main">
    <h1>Podemos te ajudar a ser mais produtivo!</h1>

    <div class="imgs_pg_inicial">
      <img src="./img/produtividade.jpg" alt="">
    </div>

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo doloribus sed modi omnis ea soluta aliquid maxime commodi, 
        odit quos. Nihil, velit esse maxime molestias amet quam corporis ullam soluta. Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Ducimus explicabo dolores doloremque quisquam odio tempore deserunt qui fugit veritatis, cum necessitatibus
        natus officia quibusdam vitae, sunt similique assumenda sapiente? Voluptatem? </p>

  </main>

  <footer>
    <ul>
      <p><strong>📈 Desenvolvimento de Sistemas 📈</strong></p> 
      <p>SESI SENAI CTAI</p>
      <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
    </ul>

    <ul>
      <p><strong>🔥 Igor Luiz Belter Rosiak 🔥</strong></p>
      <p>Contato: 48 996449750</p>
      <p>Email: Igorluizbelterrosiak@gmail.com</p>
    </ul>
  </footer>

  <script src="./js/popper.min.js"></script>
  <script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>