<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Funcionário</title>
</head>

<body>

  <header>
    <h2>Gerenciador de Fornecedores</h2>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/index">Página Inicial</a>
      </li>
      <li>
        <a href="/fornecedor/list">List</a>
      </li>
    </ul>
  </nav>

  <main>
    <h1>Lista de Fornecedores</h1>

    <div id="tabela">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col" colspan="2">Edição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Igor Rosiak</td>
            <td>48-988425637</td>
            <td>Igorluizbelterrosiak@gmail.com</td>
            <td><a href=""><i class="fi fi-rr-edit"></i></a></td>
            <td><a href=""><i class="fi fi-rs-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <ul>
      <p><strong>📈 Desenvolvimento de Sistemas 📈</strong></p> 
      <p>SESI SENAI CTAI</p>
      <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
    </ul>

    <ul>
      <p><strong>🔥 Igor Luiz Belter Rosiak 🔥</strong></p>
      <p>Contato: 48 996449750</p>
      <p>Email: Igorluizbelterrosiak@gmail.com</p>
    </ul>
  </footer>

  <script src="../js/popper.min.js"></script>
  <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>
</html>