<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Gerência de Projetos</title>
</head>

<body>

  <header>
    <h1>Gerenciador de Projetos</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/index">Página Inicial</a>
      </li>
      <li>
        <a href="/clientes" class="bold">Clientes</a>
      </li>
      <li>
        <a href="/projetos">Projetos</a>
      </li>
      <li>
        <a href="/equipe">Equipe Desenvolvedora</a>
      </li>
      <li>
        <a href="/funcionario/list">Lista</a>
      </li>
      <li>
        <a href="/funcionario/add">Adicionar</a>
      </li>
    </ul>
  </nav>

  <main>
    <h1>Adicionar Funcionarios</h1>

    <div th:if="${isSaved}" class="alert alert-success">
      <h4>Operação realizada com sucesso!</h4>
    </div>

    <div th:if="${isError}" class="alert alert-danger">
      <h4>Erro ao tentar salvar os dados!</h4>
      <label th:text="#{errorMsg}"></label>
    </div>

    <div id="form">

      <form th:action="@{/funcionario/save}" method="post" class="formulario" th:object="${funcionario}">
        
        <label for="floatingInputId">Código</label>
        <input type="number" id="floatingInputId" th:field="*{id}" readonly placeholder="Código">

        <label for="floatingInputNome">Nome</label>
        <input type="text" id="floatingInputNome" th:field="*{nome}" placeholder="Nome" required>
        
        <label for="floatingInputCpf">CPF</label>
        <input type="text" id="floatingInputCpf" th:field="*{cpf}" placeholder="CPF" required>
      
        <label for="floatingInputEmail">Email</label>
        <input type="email" id="floatingInputEmail" th:field="*{email}" placeholder="E-mail" required>

        <label for="floatingInputTelefone">Telefone</label>
        <input type="text" id="floatingInputTelefone" th:field="*{telefone}" placeholder="Telefone" required>

        <button type="submit">Salvar</button>
        <button type="button" onclick="window.location.href='./list'">
        Cancelar
        </button>
      </form>
    </div>



  </main>

  <footer>
    <ul>
      <p><strong>📈 Desenvolvimento de Sistemas 📈</strong></p> 
      <p>SESI SENAI CTAI</p>
      <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
    </ul>

    <ul>
      <p><strong>🔥 Igor Luiz Belter Rosiak 🔥</strong></p>
      <p>Contato: 48 996449750</p>
      <p>Email: Igorluizbelterrosiak@gmail.com</p>
    </ul>
  </footer>

  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
</body>

</html>