<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Funcionário</title>
</head>

<body>

  <header>
    <h1>Gerenciador de Projetos</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/index">Página Inicial</a>
      </li>
      <li>
        <a href="/clientes" class="bold">Clientes</a>
      </li>
      <li>
        <a href="/projeto/list">Projetos</a>
      </li>
      <li>
        <a href="/equipe">Equipe</a>
      </li>
      <li>
        <a href="/funcionario/list">Lista</a>
      </li>
    </ul>
  </nav>

  <main>
    <h1>Lista de Funcionarios</h1>

    <div id="tabela">
      <table class="table table-red">
        <thead>
          <tr>
            <th scope="col" colspan="0.5">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Edição</th>
            <th scope="col"><a href="/funcionario/add"><i class="fi fi-rr-add"></i></a></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="funcionario:${funcionarios}">
            <th scope="row" th:text="${funcionario.id}"></th>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cpf}"></td>
            <td th:text="${funcionario.telefone}"></td>
            <td th:text="${funcionario.email}"></td>
            <td scope="col"><a th:href="@{'edit/' + ${funcionario.id}}"><i class="fi fi-rr-edit"></i></a></td>
            <td scope="col"><a th:onclick="|showModalDeletar('funcionario', ${funcionario.id})|"><i class="fi fi-rs-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal" tabindex="-1" id="modalDeletar">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Atenção</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Você realmente deseja deletar o registro?</p>
          </div>
          <div class="modal-footer">
            <button type="button" 
              class="btn btn-danger"
              th:onclick="deletar()"
            >
              Deletar
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <ul>
      <p><strong>📈 Desenvolvimento de Sistemas 📈</strong></p> 
      <p>SESI SENAI CTAI</p>
      <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
    </ul>

    <ul>
      <p><strong>🔥 Igor Luiz Belter Rosiak 🔥</strong></p>
      <p>Contato: 48 996449750</p>
      <p>Email: Igorluizbelterrosiak@gmail.com</p>
    </ul>
  </footer>

  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>
  <script src="../js/script.js"></script>

</body>

</html>