<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Funcionário</title>
</head>

<body>

  <header>
    <h1>Gerenciador de Projetos</h1>
  </header>

  <nav>
    <ul>
      <li>
        <a href="/index">Página Inicial</a>
      </li>
      <li>
        <a href="/clientes" class="bold">Clientes</a>
      </li>
      <li>
        <a href="/projetos">Projetos</a>
      </li>
      <li>
        <a href="/equipe">Equipe Desenvolvedora</a>
      </li>
      <li>
        <a href="/funcionario/list">List</a>
      </li>
    </ul>
  </nav>

  <main>
    <h1>Lista de Funcionarios</h1>

    <div id="tabela">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col" colspan="2">Edição</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="funcionario:${funcionarios}">
            <th scope="row" th:text="${funcionario.id}">1</th>
            <td th:text="${funcionario.nome}">Igor Rosiak</td>
            <td th:text="${funcionario.CPF}">129.329.123.45</td>
            <td th:text="${funcionario.telefone}">48-988425637</td>
            <td th:text="${funcionario.email}">Igorluizbelterrosiak@gmail.com</td>
            <td><a href=""><i class="fi fi-rr-edit"></i></a></td>
            <td><a href=""><i class="fi fi-rs-trash"></i></a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Gabriela Senna</td>
            <td>128.345.235.65</td>
            <td>48-995743245</td>
            <td>seninha@gmail.com</td>
            <td><a href=""><i class="fi fi-rr-edit"></i></a></td>
            <td><a href=""><i class="fi fi-rs-trash"></i></a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Peterson Silva</td>
            <td>329.124.453.56</td>
            <td>49-995443267</td>
            <td>petinho@gmail.com</td>
            <td><a href=""><i class="fi fi-rr-edit"></i></a></td>
            <td><a href=""><i class="fi fi-rs-trash"></i></a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Anna Laura</td>
            <td>324.543.679.21</td>
            <td>48-996452345</td>
            <td>dieguinhobrabao@gmail.com</td>
            <td><a href=""><i class="fi fi-rr-edit"></i></a></td>
            <td><a href=""><i class="fi fi-rs-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <ul>
      <p><strong>📈 Desenvolvimento de Sistemas 📈</strong></p> 
      <p>SESI SENAI CTAI</p>
      <p>Rodovia SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032005</p>
    </ul>

    <ul>
      <p><strong>🔥 Igor Luiz Belter Rosiak 🔥</strong></p>
      <p>Contato: 48 996449750</p>
      <p>Email: Igorluizbelterrosiak@gmail.com</p>
    </ul>
  </footer>

  <script src="../js/popper.min.js"></script>
  <script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>